<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        {% extends 'base.html' %}
            {% block title %}Detalhe de Cursos.{% endblock %}
    </head>
    
        {% block main %}
    <body>
<section class="corpo">
    <center>
        <tipo_curso><h2> Graduação</h2></tipo_curso>

<p><nomecurso>> Administração (ênfase em tecnologia da informação)</nomecurso><br></p>
<descricao_curso>
<p>Duração: 4 anos (3.360 horas) </p>
<p>Descrição: Você irá se preparar para liderar o planejamento e funcionamento de uma organização ou negócio.<br>
Transformar ideias em projetos com o estímulo, capacitação e incentivo.</p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>- ANÁLISE DE CENÁRIOS ECONÔMICOS</td>
			</tr>
			<tr>
                <td>- COMPORTAMENTO HUMANO NAS ORGANIZAÇÕES</td>
			</tr>
                <td>- ACOMUNICAÇÃO EMPRESARIAL</td>
            </tr>
			<tr>
                <td>- FORMAÇÃO SOCIAL GESTÃO CONTÁBIL</td>
			</tr>
                <td>- GESTÃO DE PROJETOS</td>
            </tr>
			<tr>
                <td>- MÉTODOS QUANTITATIVOS APLICADOS AOS NEGÓCIOS</td>
			</tr>
                <td>- TECNOLOGIAS EMERGENTES NAS EMPRESAS</td>
            </tr>
			</tr>
                <td>- TEORIAS DE GESTÃO EMPRESARIAL</td>
            </tr>
    </table>       
</div>
</descricao_curso>

<nomecurso><p>> Sistemas de Informação </p></nomecurso>
<descricao_curso>
<p>Duração: 4 anos (3.360 horas) </p>
<p>Descrição: Você irá se preparar para Atuar nas áreas de planejamento, análise, utilização e avaliação de tecnologias de informação,<br>
apto a gerenciar a infraestrutura de TI de organizações e para contribuir com competência no planejamento e na definição de suas estratégias.</p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>- ESTRUTURA DE COMPUTADORES</td>
			</tr>
			<tr>
                <td>- FORMAÇÃO SOCIAL</td>
			</tr>
			<tr>
                <td>- GESTÃO DE PROJETOS</td>
            </tr>
			<tr>
                <td>- PROGRAMAÇÃO</td>
			</tr>
			<tr>
                <td>- RESOLUÇÃO DIFERENCIADA DE PROBLEMAS</td>
            </tr>
			<tr>
                <td>- SENSORES E CIRCUITOS DIGITAIS</td>
			</tr>
    </table>       
</div>
</descricao_curso>

<br>
<tipo_curso><h2>Graduação Tecnológica</h2></tipo_curso>

<p><nomecurso>> Banco de Dados<br></p></nomecurso>
<descricao_curso>
<p>Duração: 2 anos (2000 horas) </p>
<p>A graduação em Banco de Dados é focada em formar profissionais com aptidão em administrar, controlar e <br>
coordenar o banco de dados de uma empresa. O profissional dessa área é responsável pelas informações<br> 
que estão no sistema da organização, por isso é importante aprender a garantir a segurança desses dados.</p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>- AGILE MODELING FOR DATABASE</td>
			</tr>
			<tr>
                <td>- BUSINESS STRATEGY & ENTERPRISE DATA</td>
			</tr>
			<tr>
                <td>-DATABASE ENGENEERING SYSTEMS </td>
            </tr>
			<tr>
                <td>- DATABASE INSIDE</td>
			</tr>
			<tr>
                <td>- DATABASE MODELING & DEVELOPMENT</td>
            </tr>
    </table>       
</div>
</descricao_curso>

<p><nomecurso>> Análise e Desenvolvimento de Sistemas<br></p></nomecurso>
<descricao_curso>
<p>Duração: 2 anos (2000 horas) </p>
<p>A graduação em Banco de Dados é focada em formar profissionais com aptidão em administrar, controlar e <br>
coordenar o banco de dados de uma empresa. O profissional dessa área é responsável pelas informações<br> 
que estão no sistema da organização, por isso é importante aprender a garantir a segurança desses dados.</p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>-COMUNICAÇÃO E EXPRESSÃO</td>
			</tr>
			<tr>
                <td>- FUNDAMENTOS DE BANCO DE DADOS</td>
			</tr>
			<tr>
                <td>- INTRODUÇÃO A INTERNET DAS COISAS</td>
            </tr> 
			<tr>
                <td>- LINGUAGEM DE PROGRAMAÇÃO I</td>
			</tr>
			<tr>
                <td>- LÓGICA DE PROGRAMAÇÃO </td>
            </tr>
    </table>       
</div>
</descricao_curso>


<tipo_curso><h2>Pós-graduação</h2></tipo_curso>
<p><nomecurso>> Business Intelligence com Big Data<br></p></nomecurso>
<descricao_curso>
<p>Duração: 1,5 ano</p>
<p>A pós-graduação em Business Intelligence com Big Data da Impacta forma profissionais capazes de projetar,<br>
 implementar e gerenciar sistemas e tecnologias que usam dados de fontes internas e externas para apoiar<br> 
 a tomada de decisões em diferentes níveis de uma empresa.  </p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>- ANÁLISE EXPLORATÓRIA DE DADOS</td>
			</tr>
			<tr>
                <td>- ARQUITETURA DE SISTEMAS EM BI</td>
			</tr>
			<tr>
                <td>- ARQUITETURA E TECNOLOGIAS EM BIG DATA</td>
            </tr>
			<tr>
                <td>- CONCEITOS DE MODELAGEM DE DADOS</td>
			</tr>
			<tr>
                <td>- CONSTRUÇÃO DE PROCESSOS ETL </td>
            </tr>
			<tr>
				<td>- CORPORATE PERFORMANCE MANAGEMENT - CPM</td>
			</tr>
    </table>       
	</div>
</descricao_curso>

<p><nomecurso>> MBA Em Gestão da TI<br></p></nomecurso>
<descricao_curso>
<p>Duração: 1 ano</p>
<p>O curso MBA em Gestão da Tecnologia da Informação da Impacta apresenta todos os aspectos essenciais para,<br>
 uma gestão eficiente de TI, com uma completa infraestrutura acadêmica. É um programa em que a teoria e a prática andam lado a lado.<br></p>
<div class="container">
    <table class="bordered striped centered highlight responsive-table">
            <tr>               
				<th>MATRIZ CURRICULAR - 1º ANO:</th>
            </tr>
            <tr>
                <td>- ARQUITETURA DE TI</td>
			</tr>
			<tr>
                <td>- AUDITORIA E SEGURANÇA EM TI</td>
			</tr>
			<tr>
                <td>- BUSINESS ANALYTICS</td>
            </tr>
			<tr>
                <td>- CONTROLES INTERNOS DE TI</td>
			</tr>
			<tr>
                <td>- DIREITO APLICADO A TI </td>
            </tr>
			<tr>
				<td>- GESTÃO DE INOVAÇÃO E TRANSFORMAÇÃO DIGITAL</td>
			</tr>
    </table>       
	</div>
</descricao_curso>
</center>
<br>

        {% endblock %}

</body>
</html>