{% extends 'base.html' %}
	{% block main %}


<br>

<div>
	<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
</div>


<br>
<br>	


<div class="box2"> 
<br>
<br>
<div id="Esqueci">
	<p>CONTATO</p>
	Email:<input name="Email"/><br>
	Nome:<input name="Nome"/><br>
	Assunto:<input name="Assunto"/><br>
	Mensagem:<textarea name="Mensagem"></textarea><br>
	<button class = "botao2" type="submit" >Confirmar</button>
</div>
</div>
<div class="linebox2">
</div>



{% endblock %}
