{% extends 'base.html' %}
{% load static %}
	{% block main %}


<br>

<div>
	<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
</div>


<br>
<br>  


<center>

<div class="cursos"> 
<h1>
Cursos
</h1>
<h2>
<table>

<th>Graduacao</th>
<td>Gestao em tecnologia da Informacao
<br>
<td>Analise e desenvolvimento de sistemas
<td>Banco de Dados
<td>Jogos Digitais
<td>Produçao e multimidia
<td>Sistemas da informaçao
<td>Processos Gerenciais
<td>Redes de computadores

</table>

 

</h2>
</div>





{% endblock %}