{% extends 'base.html' %}
{% load static %}
	{% block main %}


<br>

<div>
	<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
</div>


<br>
<br>  

<div class="grade">
<h1>Grades<h1>

<h2><table>


<th>Gestao em tecnologia da Informacao</th>
<td>
<br>
<td>Banco de Dados
<td>Comunicação e Expressão
<td>Internet das Coisas
<td>Produçao e multimidia
<td>Matemática Aplicada
<td>Lógica de Programação
<td>Linguagem de Programação

</table>

<table>


<th>Analise e desenvolvimento de sistemas</th>
<td>
<br>
<td>Banco de Dados
<td>Comunicação e Expressão
<td>Internet das Coisas
<td>Produçao e multimidia
<td>Matemática Aplicada
<td>Lógica de Programação
<td>Linguagem de Programação

</table>

<table>


<th>Jogos Digitais</th>
<td>Empreendedorismo
<br>Concept Art
<td>Arte 2D para jogos Digitais
<td>Introdução a jogos digitais
<td>Design de jogos 1
<td>Sociabilidade e sustentabilidade
<td>Libras
<td>Introdução à Programação para Jogos digitais


</table>
</h2>
</div>

{% endblock %}