{% extends 'base.html' %}
{% load static %}
{% block main %}
<br>

<div>
	<img src="{% static  'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
</div>
  
      <div class="box">
        <h1>Cursos<h1>
          <h3>
          Gestão de Tecnologia da Informação

          A Graduação em Gestão de Tecnologia da Informação te preparara para ser um profissional completo na administração de infraestrutura física e lógica de ambientes informatizados. Você será capaz de preparar planos de negócios relacionados a TI e utilizando técnicas de gestão.

          O curso te habilita para o cenário real de gestão e liderança em Tecnologia, garantindo o preparo para enfrentar desafios e criar soluções de problemas, aumentando a produtividade e reduzindo custos.
          <br>
          <br>
          Analista de Sistemas ou Desenvolvedor de Sistemas

          O curso forma profissionais conhecidos como Analista de Sistemas ou Desenvolvedor de Sistemas.  São esses profissionais que criam os sistemas com os quais você já teve contato: sistemas de comércio eletrônico, sistemas de redes sociais, web sites, apenas para citar alguns.
 
          Que tal fazer parte desse grupo seleto de profissionais? O melhor caminho para isso é aprender de forma gradativa, resolvendo problemas do simples ao complexo, participando ativamente de projetos reais com clientes reais, além de ter como professores os melhores profissionais de mercado.
 
          Você também aprenderá a trabalhar em equipe, analisando e desenvolvendo sistemas para internet, tablets, celulares e Internet das Coisas (IoT), utilizando ambientes DevOps, linguagens e tecnologias de alta-produtividade e de melhor custo-benefício

          <br>
          <br>
          Jogos Digitais

          Com o curso de Jogos Digitais você será capaz de criar e desenvolver games para diversas plataformas como PC, web e mobile. Com conhecimento interdisciplinar, você terá contato com todas as fases do projeto, desde o design, arte visual, áudio, programação, até a gestão de projetos e negócios.

          A graduação aborda os conceitos, metodologias e ferramentas práticas para você projetar, implementar e testar jogos digitais, criando roteiros, cenários, personagens, interfaces, regras e jogabilidade, além de poder aplicar técnicas de programação, áudio e elementos em 2D e 3D.


</h3>
        </div>


{% endblock %}