{% extends 'base.html' %} 
{% load static %}
	{% block main %}
		<br>
		<section>
			<div>
				<img src="{% static 'TecWeb/css/images/cursos-online.jpg' %}" class="banner" alt="banner">
			</div>
			<div class="content">
				<article class="box">
					<h1>Sobre</h1>

					{% for i in id %}
						<p>{{ i.nome }}
					{% endfor %}
					<span>A Faculdade Impacta Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.</span>
				</article>

				<article class="box2"> 
					<h1>
					Comentarios
					</h1>
					<span>"Gostei muito de estudar na Faculdade Impacta, além de ficar totalmente envolvido com diversas áreas da tecnogia, ainda podemos jogar um ping-pong no intervalo."   Ping Ong, 20 anos, aluno do curso de análise e desenvolvimento de sistemas do ano de 2014.
					</span>
					<span>
					"A Faculdade Impacta tem parcerias bem legais com diversas empresas da área de tecnologia. E isso ajuda muito a ingressar na área."  João Cleto, 27 anos, aluno do curso de banco de dados do anos de 2016."
					</span>

					<span>
					"A Faculdade Impacta apoia e trabalha para o desenvolvimento da área de tecnologia, por isso incentiva vários projetos orientados por professores. Muito bom contar com esse tipo de apoio." Astolpho Bartholomeu Mendes, 30 anos, aluno do curso de análise e desenvolvimento de sistemas do ano de 2012.
					</span>
				</article>
			</div>
		</section>
	{% endblock %}

