{% extends 'base.html' %}
{% block main %}
<br>

<div class="banner">
	

</div>


<br>
<br>	


<div class="box2"> 
<br>
<br>
<div id="NovaDisciplina">
	<p style="font-size:30px;"><b>NOVA DISCIPLINA</b></p>
	Professor Responsavel:<input name="Professor"/><br>
	Horas Mensais:<input name="HM"/><br>
	Duração:<input name="Duração"/><br>
	Dias ministradas:<input name="DM"/><br>
	Conteúdo Resumo:<input name="CR"/><br><br>
	<button class = "botao2" type="submit" >Confirmar</button>
	
</div>
</div>
<div class="linebox2">
</div>

{% endblock %}